/* Reset básico */
* {
  padding: 0;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  box-sizing: border-box;
}

/* Estilo geral */
body {
  font-family: "Arial", sans-serif;
  background-color: #dad7cd; /* Cor de fundo bege clarinho */
  color: #333;
  line-height: 1.6;
}

/* Centralizar as imagens */
main img {
  display: block;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border: 1px solid #ddd;
  border-radius: 8px;
  width: 100%;
  max-width: 30em;
  margin: 30px auto;
}

/* Nav */
header {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: #588157;
  padding: 10px 20px;
  height: 120px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

html {
  scroll-behavior: smooth;
}

.logo img {
  width: 8rem;
}

nav ul {
  display: flex;
  list-style: none;
  justify-content: center;
}

nav ul li {
  margin-right: 5px;
  font-size: 30px;
}

nav ul li a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  transition: color 0.3s ease;
}

nav ul li a:hover {
  color: #d9d9d9;
}

/* Conteúdo principal */
main {
  padding: 20px;
}

main h4 {
  font-size: 1.5rem;
  color: #3a5f3a; /* Verde */
  margin-bottom: 10px;
}

main p {
  font-size: 1rem;
  margin-bottom: 15px;
}

main ul {
  margin-left: 20px;
  list-style-type: disc;
  color: #3a5f3a;
}

main ul li {
  margin-bottom: 5px;
}

main .negrito {
  font-weight: bold;
  color: #3a5f3a;
  font-size: 1.2rem;
}

/* Footer */
.footer-newsletter {
  background-color: #588157;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: white;
  height: 15vh;
}

#footer-newsletter-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

#footer-newsletter-input-name input,
#footer-newsletter-input-email input {
  border: none;
  border-bottom: 1px solid white;
  background-color: transparent;
  outline: none;
  font-size: 0.8rem;
  color: white;
  width: 15vw;
}

#footer-newsletter-input-name input::placeholder,
#footer-newsletter-input-email input::placeholder {
  color: white;
  font-size: 0.8rem;
}

#footer-newsletter-input-email {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 48px;
}

#footer-newsletter-input-email button {
  width: 25%;
  height: 3vh;
  margin-top: 10px;
  background-color: #344e41;
  outline: none;
  border: none;
  color: white;
  border-radius: 10px;
  transition: color 2s ease;
  cursor: pointer;
  align-self: flex-end;
}

#footer-newsletter-input-email button:hover {
  background-color: #2a4b30;
}

#social-links {
  background-color: #d9d9d9;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

#social-links,
#social-links ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  padding: 30px;
}

#social-links h5 {
  color: #344e41;
  font-size: 15px;
}

#social-links ul li {
  padding-right: 20px;
  display: flex;
}

#social-links ul li img {
  width: 1.2vw;
}

#social-links ul li a {
  text-decoration: none;
  color: #344e41;
  padding-left: 5px;
}

.footer-links {
  display: flex;
  justify-content: center;
  padding-top: 50px;
}

#footer-links-img img {
  width: 70%;
  padding-bottom: 20px;
}

#footer-links-institucional,
#footer-links-estudar,
#footer-links-trabalhar,
#footer-links-idiomas {
  padding-left: 50px;
}

#footer-links-institucional h4,
#footer-links-estudar h4,
#footer-links-trabalhar h4,
#footer-links-idiomas h4 {
  color: #588157;
  text-transform: uppercase;
  padding-bottom: 10px;
}

#footer-links-institucional ul li,
#footer-links-estudar ul li,
#footer-links-trabalhar ul li,
#footer-links-idiomas ul li {
  list-style: none;
  font-weight: lighter;
}

#footer-links-institucional ul li a,
#footer-links-estudar ul li a,
#footer-links-trabalhar ul li a,
#footer-links-idiomas ul li a {
  text-decoration: none;
  color: black;
}

.footer-rights {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #344e41;
  color: white;
  padding: 20px;
}

.footer-rights img {
  width: 2%;
}

.footer-rights small {
  padding-left: 20px;
}
