/* Reset básico */
* {
  padding: 0;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  box-sizing: border-box;
}

/* Nav */
header {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: #588157;
  padding: 10px 20px;
  height: 120px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.logo img {
  width: 6rem;
}

nav ul {
  display: flex;
  list-style: none;
  justify-content: center;
}

nav ul li {
  margin-right: 5px;
  font-size: 1.2rem;
}

nav ul li a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  transition: color 0.3s ease;
}

nav ul li a:hover {
  color: #d9d9d9;
}

/* Conteúdo principal */
main,
section {
  padding: 20px;
  background-color: #dad7cd;
}

main section h2 {
  font-size: 1.5rem;
}

main section h3 {
  font-size: 1.3rem;
}

main section p,
main section ul,
main section ol {
  font-size: 1.2rem;
}

#study-in-canada-images,
#education-system-images {
  display: flex;
  justify-content: center;
}

#study-in-canada-images img,
#education-system-images img {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border: 1px solid #ddd;
  border-radius: 8px;
  width: 30em;
  margin: 30px;
}

.section-title {
  text-transform: uppercase;
  color: #3a5a40;
  margin-bottom: 20px;
}

.section-paragraph,
.faq-answer {
  padding-bottom: 20px;
}

.list-item,
.faq li {
  line-height: 1.8rem;
  list-style-position: inside;
}

.faq-question {
  display: inline-block;
}

table,
td,
th {
  border: 1px solid black;
}

td,
th {
  padding: 5px;
  text-align: center;
}

/* Footer */
.footer-newsletter {
  background-color: #588157;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: white;
  height: 15vh;
}

#footer-newsletter-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  flex: 0 1 auto;
}

#footer-newsltter-form {
  display: flex;
  flex-wrap: wrap;
  flex: 0 1 auto;
}

#footer-newsletter-form input[type="text"],
#footer-newsletter-form input[type="email"] {
  border: none;
  border-bottom: 1px solid white;
  background-color: transparent;
  outline: none;
  font-size: 0.8rem;
  color: white;
  width: 15vw;
  padding-bottom: 5px;
  margin-right: 20px;
}
#footer-newsletter-form input[type="text"]::placeholder,
#footer-newsletter-form input[type="email"]::placeholder {
  color: white;
  font-size: 1rem;
}

#footer-newsletter-form input[type="submit"] {
  background-color: #344e41;
  border-radius: 10px;
  padding: 10px;
  width: 100px;
  border: none;
  transition: all 0.5s ease;
  cursor: pointer;
  color: white;
}

#footer-newsletter-form input[type="submit"]:hover {
  background-color: #669e64;
}

#social-links {
  background-color: #d9d9d9;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

#social-links,
#social-links ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  padding: 30px;
}

#social-links h5 {
  color: #344e41;
  font-size: 15px;
}

#social-links ul li {
  padding-right: 20px;
  display: flex;
}

#social-links ul li img {
  width: 1.2vw;
}

#social-links ul li a {
  text-decoration: none;
  color: #344e41;
  padding-left: 5px;
}

.footer-links {
  display: flex;
  justify-content: center;
  padding-top: 50px;
  background-color: #dad7cd;
}

#footer-links-img img {
  width: 70%;
  padding-bottom: 20px;
}

#footer-links-institucional,
#footer-links-estudar,
#footer-links-trabalhar,
#footer-links-idiomas {
  padding-left: 50px;
}

#footer-links-institucional h4,
#footer-links-estudar h4,
#footer-links-trabalhar h4,
#footer-links-idiomas h4 {
  color: #588157;
  text-transform: uppercase;
  padding-bottom: 10px;
}

#footer-links-institucional ul li,
#footer-links-estudar ul li,
#footer-links-trabalhar ul li,
#footer-links-idiomas ul li {
  list-style: none;
  font-weight: lighter;
}

#footer-links-institucional ul li a,
#footer-links-estudar ul li a,
#footer-links-trabalhar ul li a,
#footer-links-idiomas ul li a {
  text-decoration: none;
  color: black;
}

.footer-rights {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #344e41;
  color: white;
  padding: 20px;
}

.footer-rights img {
  width: 2%;
}

.footer-rights small {
  padding-left: 20px;
}

@media screen and (max-width: 1565px) {
  footer,
  button,
  #footer-newsletter-input-name input::placeholder,
  #footer-newsletter-input-email input::placeholder {
    font-size: 1rem;
  }
}

@media screen and (max-width: 963px) {
  footer,
  button,
  #footer-newsletter-input-name input::placeholder,
  #footer-newsletter-input-email input::placeholder {
    font-size: 0.7rem;
  }
}

@media screen and (max-width: 845px) {
  nav ul li {
    font-size: 1.2rem;
  }

  header img {
    max-width: 10vw;
  }

  footer,
  button,
  #footer-newsletter-input-name input::placeholder,
  #footer-newsletter-input-email input::placeholder {
    font-size: 0.6rem;
  }
}

@media screen and (max-width: 535px) {
  nav ul li {
    font-size: 0.5rem;
  }

  header img {
    max-width: 10vw;
  }

  footer,
  button,
  #footer-newsletter-input-name input::placeholder,
  #footer-newsletter-input-email input::placeholder {
    font-size: 0.4rem;
  }
}

@media screen and (max-width: 325px) {
  footer,
  button,
  #footer-newsletter-input-name input::placeholder,
  #footer-newsletter-input-email input::placeholder {
    font-size: 0.2rem;
  }
}
