/* Reset básico */
body, h1, h2, h3, p, ul, ol, img {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilo geral */
body {
    font-family: 'Arial', sans-serif;
    background-color: #DAD7CD; /* Cor de fundo bege clarinho */
    color: #333;
    line-height: 1.6;
}

/* Centralizar as imagens */
img {
    display: block;
    border-radius: 20px;
    border: 0.5px solid #0303036e;
    width: 30em;
    margin: 30px;
    margin: 0 auto; /* Centraliza as imagens */
}

/* Cabeçalho */
header {
    background-color: #3a5f3a; /* Verde próximo ao design enviado */
    color: #DAD7CD;
    padding: 0.01%; /* Reduzindo ainda mais a altura */
    text-align: center;
}

header h1 {
    font-size: 2.5rem;
}

/* Estilo para o título específico */
.verde {
    color: #3a5f3a; /* Verde */
}

/* Navegação */
header {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #588157;
    padding: 10px 20px;
    height: 70px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.logo img {
    width: 4rem;
}

nav ul {
    display: flex;
    list-style: none;
    justify-content: center;
}

nav ul li {
    margin-right: 5px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #d9d9d9;
}

/* Seções principais */
main {
    padding: 20px;
}

section {
    margin-bottom: 20px;
}

section h2, section h1 {
    font-size: 2rem;
    margin-bottom: 10px;
    color: #3a5f3a; /* Aplicando o mesmo tom de verde */
}

section p {
    font-size: 1.2rem;
    margin-bottom: 15px;
}

/* Rodapé */
footer
    .footer-newsletter {
        background-color: #588157;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        color: white;
        height: 150px;
    }
    
    #footer-newsletter-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
    }
    
    #footer-newsletter-input-name input, #footer-newsletter-input-email input{
        border: none;
        border-bottom: 1px solid white;
        background-color: transparent;
        outline: none;
        font-size: 0.8rem;
        color: white;
        width: 300px;
    }
    
    #footer-newsletter-input-name input::placeholder, #footer-newsletter-input-email input::placeholder{
        color: white;
        font-size: 0.8rem;
    }
    
    #footer-newsletter-input-email {
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-top: 48px;
    }
