/* Reset básico */
* {
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}

/* Nav */
header {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #588157;
    padding: 10px 20px;
    height: 70px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.logo img {
    width: 4rem;
}

nav ul {
    display: flex;
    list-style: none;
    justify-content: center;
}

nav ul li {
    margin-right: 5px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #d9d9d9;
}

/* Conteúdo principal */
.banner {
    position: relative;
    color: white;
}

#banner-container-text {
    background-color: #3a5a4071;
    position: absolute;
    width: 90%;
    left: 5%;
    bottom: 5%;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
    max-height: 110px;
    height: 100%;
    border-radius: 5px;
}

#banner-container-image img {
    width: 100%;
    height: auto;
}

#banner-container-title h2 {
    font-size: 2rem;
    font-weight: 500;
}

#banner-container-title h3 {
    font-size: 1.2rem;
    font-weight: normal;
}

.banner-container-input {
    width: 90%;
    max-width: 800px;
    max-height: 50px;
    display: flex;
    gap: 10px;
}

.banner-container-input input {
    flex: 1;
    border: none;
    border-bottom: 1px solid white;
    background-color: transparent;
    font-size: 16px;
}

.banner-container-input input::placeholder {
    color: white;
}

.banner-container-input input:focus {
    outline: none;
}

.banner-container-input button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: transparent;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease-in;
}

.banner-container-input button:hover {
    background-color: white;
}

.cards-main div {
    height: 200px;
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    background-color: #F4F4F4;
}

.cards-main article {
    width: 300px;
    background-color: white;
    border-radius: 10px;
}
